<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link
      href="https://fonts.googleapis.com/css?family=Khula:800&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/gh/WojciechWKROPCE/letterize-js@latest/lib/letterize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js"></script>
   <script src="{{ site.baseurl }}/assets/js/highlight.pack.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/examples">Examples</a>
      <a href="{{ site.baseurl }}/docs">Docs</a>
    </nav>



    {{ content }}

    <footer>
      Made with <span style="color: #888;">&#9829;</span>  by Wojciech Krakowiak
    </footer>

    <script>
      var buttons = new Letterize({
        targets: ".button"
      });
      var buttonsLength = buttons.getTargets().length;
      for (var i = 0; i < buttonsLength; i++) {
          ( function(){
          var n = i;
          var animation;
          buttons.getTargets()[n].addEventListener("mouseover", function() {
            animation = anime({
              targets: buttons.list()[n],
              translateX: function() { return anime.random(-1, 1)},
              translateY: function() { return anime.random(-1, 1)},
              duration: function() { return anime.random(10, 50)},
              direction: 'alternate',
              loop: true,
              easing: 'linear'
            });

            
          });
          buttons.getTargets()[n].addEventListener("mouseleave", function() {
              anime.remove(buttons.list()[n]);
              animation = anime({
                targets: buttons.list()[n],
                translateX: 0,
                translateY: 0,
                duration: 0,
                loop: false
              });
            })
      }()); 
      }
    </script>
  </body>
</html>
